
body, div{
    padding: 0px;
    margin: 0px;
}


.home-page{
    display: flex;
    flex-direction: row;
    height: 70vh;
    align-items: center;
    width: 100vw;
    justify-content: left;
    margin: 0;
    background-color: lightblue;
}


.textbox-homepage{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 10vw;
}

.textbox-homepage h1, h2{
    text-align: left;
}